@import "vars";
@import "icons";
$spacing: 5;

$main-background: #FFDF99;
$secondary-background: #CCAA61;
$text-color: darken($secondary-background, 35%);
$text-color-light: darken($secondary-background, 30%);
$text-color-dark: darken($secondary-background, 40%);

$main-font-family: $font-family;

$variable-type-color: #B24512;
$variable-type-color-hover: #B24512;
$tab-inactive-color-hover: #FFF7BE;
$error-color: $red-bright-color;

$border-color: lighten(#9A8049, 10%);
$border-color-hover: darken($main-background, 20%);

$footer-color: #4C3D1E;
$footer-bg-color: #FFF7E6;

$var-color: $text-color-dark;
$var-bg-color: desaturate(darken($main-background, 20%), 15%);
$var-bg-internal-color: desaturate(darken($main-background, 8%), 20%);
$var-font-family: $font-family;

$context-color: darken($secondary-background, 20%);
$context-text-color: white;
$context-text-shadow: $text-shadow-for-white;
$context-border-color: darken($context-color, 10%);

$trigger-bg-color: darken($secondary-background, 20%);
$trigger-color: $main-background;
$trigger-hover-bg-color: darken($main-background, 10%);
$trigger-hover-color: $text-color-light;

$ip-color: darken($violet-color, 10%);
$func-color: darken($orange-color, 30%);
$class-color: darken($red-color, 30%);



$caret-image: $nav-icon;

// не обновлять!! _kintbase.scss потому что он модифицирован добавлением !important плюс некоторые другие изменения
// нужно только проконтролировать что верхний селектор в "kintbase" соответствует текущему
// сейчас этот селектор = $debug-bar-selector: '#qm-debug_bar_zu_plusdebugbarpanel'
@import "kintbase";

// #qm-debug_bar_zu_plusdebugbarpanel
#{$debug-bar-selector} {
    .kint-rich {
        padding: 10px 10px 5px !important;
        background: $secondary-background !important;
        font-family: $main-font-family !important;

        .kint-focused {
            box-shadow: 0 0 3px 2px #859900 inset !important;
            border-radius: 7px !important;
        }
        var {
            font-weight: 500 !important;
            letter-spacing: 1px !important;
            cursor: pointer;
        }
        dt {
            letter-spacing: 0.5px !important;
            span {
                color: $error-color !important;
                font-weight: 700;
            }
            b {
                color: $variable-type-color !important;
                font-weight: 500 !important;
            }
            &.__context.__dbg {
                background-color: $context-color !important;
                color: $context-text-color !important;
                border-color: $context-border-color !important;
                &:hover {
                    border-color: $context-border-color !important;
                }
            }
        }
        dfn {
            color: $var-color !important;
            background-color: $var-bg-color;
            padding: 0 5px !important;
            border-radius: 3px !important;
            letter-spacing: 1px !important;
            font-weight: 500 !important;
            font-family: $var-font-family !important;
            font-size: 12px !important;
        }
        nav + dfn, nav + var {
            margin-left: 5px !important;
        }
        dd {
            dfn {
                color: $text-color-light !important;
                background-color: $var-bg-internal-color;
            }
            pre {
                background-color: white !important;
            }
        }

        > dl > dt,
        ul.kint-tabs {
            box-shadow: none;
        }

        ul.kint-tabs li.kint-active-tab {
            padding-top: 7px !important;
            height: 34px !important;
        }

        ul.kint-tabs {
            li:hover {
                color: $tab-inactive-color-hover !important;
            }
        }

        .kint-search-trigger,
        .kint-popup-trigger,
        .kint-access-path-trigger {
            background-color: $trigger-bg-color !important;
            color:$trigger-color !important;
            line-height: 15px !important;
            font-size: 13px !important;
            font-weight: 500 !important;
            height: 17px !important;
            width: 18px !important;
            &:hover {
                background-color: $trigger-hover-bg-color !important;
                color:$trigger-hover-color !important;
            }
        }
        .kint-search-trigger {
            font-size: 19px !important;
            line-height: 17px !important;
        }

        dt.kint-parent > .kint-popup-trigger {
            line-height: 16px !important;
        }

        footer {
            .kint-popup-trigger {
                background-color: transparent !important;
                color:$trigger-hover-color !important;
                &:hover {
                    background-color: $trigger-hover-bg-color !important;
                }
            }
            .kint-popup-trigger + nav {
                margin-top: -3px !important;
            }
            ol {
                margin-top: 10px !important;
                padding: 10px !important;
                background-color: $footer-bg-color !important;
                li {
                    color: $footer-color !important;
                    letter-spacing: 1px !important;
                    margin-bottom: 5px !important;
                }
            }

            em {
                font-style: normal !important;
                &.__ip {
                    color: $ip-color !important;
                }
                &.__func {
                    font-weight: 600;
                    letter-spacing: 0.5px !important;
                    color: $func-color !important;
                }
                &.__class {
                    font-weight: 600;
                    letter-spacing: 0.8px !important;
                    color: $class-color !important;
                }
            }
        }
    }
}
