// 	How adapt for a new plugin:
//
// 		- replace 'zuplus_' for 'your_'
//			- replace 'zuplus-' for 'your-'
//
@mixin breakpoint-width($point) {
	@media all and (max-width: $point)  { @content; }  
}

$some-orange: #fcbf00;
$some-green: #83b19a;
$some-blue: #00aced;
$some-violet: #bc2a8d;
$some-red: #ff4136;

$admin-grey-color: #e5e5e5;
$admin-light-yellow: #ffffa5;
$admin-light-brown: #d5b464;

$admin-magenta-color: #e01765;
$admin-error-color: #cc2027;

$admin-green-color: #1a937d;
$admin-blue-color: $some-blue; 
$admin-gold-color: #e8a723;
$admin-red-color: $some-red;
$hover-darken: 10;
$hover-shadow: 20;

$primary-font-family: 'Open Sans', Arial, sans-serif;

.zuplus_red { color: $admin-red-color;}
.zuplus_green { color: $admin-green-color;}
.zuplus_magenta { color: $admin-magenta-color;}
.zuplus_gold { color: $admin-gold-color;}
.zuplus_blue { color: $admin-blue-color;}

._bold { font-weight: 600; letter-spacing: 0.5pt;}
._grand { font-weight: 600; font-size: 110%; letter-spacing: 1pt; text-transform: uppercase;}
._uppercase { text-transform: uppercase; font-size: 0.8em;}
._uppercase2 { font-weight: 500; text-transform: uppercase; letter-spacing: 0.5pt;}
._shift { margin-left: 1.5em;}

.notice {
	a { 
		text-decoration: none; 
		border-bottom: 1px dotted;
	}
	span {
		color: $admin-magenta-color; 
		font-weight: 500;
	}
	&.notice-error a {
		font-weight: 600; 
		color: $admin-error-color; 
	}
}

#wpbody-content {
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0.1s;
	.ready & {
		font-family: $primary-font-family;
		opacity: 1;
	}
}

.metabox-holder .postbox-container .empty-container {
	border: 1px dashed #b4b9be;
	height: 250px;
	position: relative;
	top: 2px;
}

#wp-admin-bar-site-name {
	min-width: 160px;
}

.wp-core-ui {
	
	.zu-pub-section {
		padding: 6px 10px 8px;
	}
	
	.wp-submenu {
		.wp-menu-separator a {
		    border-top: 1px solid;
		    opacity: 0.2;
		    width: 100%;
		    display: inline-block !important;
		    cursor: pointer;
		}
	}
	
    .zu-ajax-progress, .zu-spinner {
        float: right;
        display: inline-block;
        visibility: visible;
        opacity: 0;
        margin: 0;
        vertical-align: middle;
        transition: opacity 0.3s ease-out;
	}
	
	.now_ajaxed {
		zu-ajax-progress, .zu-spinner {
			opacity: 0.7;
		}
	}

    .zu-spinner {
        background: url('/wp-includes/images/spinner.gif') no-repeat;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
		@media print, (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
	        background-image: url('../wp-includes/images/spinner-2x.gif')
		}
    }
	

	&.zuplus {
		.qm {
			.zuplus_red { color: $admin-red-color !important;}
			.zuplus_green { color: $admin-green-color !important;}
			.zuplus_magenta { color: $admin-magenta-color !important;}
			.zuplus_gold { color: $admin-gold-color !important;}
			.zuplus_blue { color: $admin-blue-color !important;}
		}
	}
	
	.zuplus {
	
		svg {
			width: 100%;
			height: 100%;
			display: inline-block;
			text-align: center;
			line-height: 1em;
		}

		.zu-dashicons {		
		    .dashicons {
		        line-height: 0.9;
		        margin: 0 2px 0 0;
		    }
		}
		
		.zu-icons-link {
		    text-decoration: none;
		
		    .zu-link-text {
		        text-decoration: underline;
		    }
		}
		
		.plugin-logo {
			padding: 0;
	    }
		
		.mobile_only {
			padding: 15px;
			display: none;  
			@include breakpoint-width(850px) { display: block; }
		}
	
	    .zu-button {
	        background-color: $admin-blue-color;
	        color: #fff !important;
	        width: auto;
	        height: auto;
	        font-size: 14px;
	        line-height: 18px;
	        font-weight: bold;
	        padding: 10px;
	        margin: 0 0 15px 0;
	        border: 0;
			box-shadow: none;
	        text-align: center;
	        text-shadow: none;
	        cursor: pointer;
	        border-radius: 3px;
	
	        .dashicons {
	            vertical-align: middle;
	        }
	        &.zu-button-block {
	            display: block;
	        }
	        &.zu-button-right {
	            float: right;
	            margin-right: 20px;
	            padding: 10px 50px;
	        }
	        &:hover {
	            background-color: darken($admin-blue-color, $hover-darken);
	            color: #fff !important;
	            box-shadow: 0 1px 0 darken($admin-blue-color, $hover-shadow) !important;
	            border-color: darken($admin-blue-color, $hover-shadow) !important;
	        }
	
	        &.zu-button-green {
	            background-color: $admin-green-color;
	            &:hover {
	                background-color: darken($admin-green-color, $hover-darken);
		            box-shadow: 0 1px 0 darken($admin-green-color, $hover-shadow) !important;
		            border-color: darken($admin-green-color, $hover-shadow) !important;
	            }
	        }
	        &.zu-button-gold {
	            background-color: $admin-gold-color;
	            &:hover {
	                background-color: darken($admin-gold-color, $hover-darken);
		            box-shadow: 0 1px 0 darken($admin-gold-color, $hover-shadow) !important;
		            border-color: darken($admin-gold-color, $hover-shadow) !important;
	            }
	        }
	        &.zu-button-red {
	            background-color: $admin-red-color;
	            &:hover {
	                background-color: darken($admin-red-color, $hover-darken);
		            box-shadow: 0 1px 0 darken($admin-red-color, $hover-shadow) !important;
		            border-color: darken($admin-red-color, $hover-shadow) !important;
	            }
	        }
	        &.zu-button-magenta {
	            background-color: $admin-magenta-color;
	            &:hover {
	                background-color: darken($admin-magenta-color, $hover-darken);
		            box-shadow: 0 1px 0 darken($admin-magenta-color, $hover-shadow) !important;
		            border-color: darken($admin-magenta-color, $hover-shadow) !important;
	            }
	        }
	    }
	
	    .zu-side-button {
	        width: 100%;
	    }
	    
	    .plugin-mb {
			// Inside area of meta boxes
		    .inside {
		        margin: 0 !important;
		        padding: 0;
		        
		        .form_desc {
					padding: 10px 15px;
					background-color: lighten($admin-blue-color, 50);
					color: darken($admin-blue-color, 25);
					border-bottom: 1px solid darken($admin-grey-color, 5);
					border-top: 1px solid rgba(darken($admin-blue-color, 5), 0.4);
					font-weight: 600;
					letter-spacing: 0.5pt;
				}
				.field_desc {
		            clear: both;
		            padding: 0 0 0 10px;
		            font-style: italic;
		            color: darken($admin-blue-color, 20);
		            strong, span {
			            padding: 0 4px;
			            color: $admin-magenta-color;
			            letter-spacing: 0.5pt;
		            }
		            &.desc-text {
					    margin-top: 5px;
					    display: inline-block;
					    padding-left: 5px;
					}
		        }
		        .field_label {
			        padding-left: 20px;
			        width: 30%;
			        &.top {
				        vertical-align: top;
			        }
		        }
		    }
		}

	    .zu-button-with-help {
		    .field_label {
			    width: 70% !important;
			    padding: 10px !important;
			    @include breakpoint-width(850px) { width: 1%; display: none; }

				span {
			        display: block;
			        position: relative;
			        left: 0;
			        top: 0;
			        right: 0;
			        bottom: 0;
			        padding: 10px;
			        border-radius: 3px;
					background-color: rgba($admin-light-brown, 0.1);
				}
		    }
		    .zu-field {
			    width: 30% !important;
			    padding: 10px !important;
			    @include breakpoint-width(850px) { width: 99%; }
			    a {
				    margin: 0 !important;
			    }
		    }
	    }

		table {
		    // Base for all tables
	        background: #fff;
	        width: 100%;
	        margin: 0;
	        padding: 0;
	        border: 0;
	        text-align: left;
	
	        td {
	            width: auto;
	            padding: 15px 0;
	        }
	        tr + tr {
		        td {
			        padding-top: 0; 
		        }
	        }
	
	        input[type="text"] {
	            width: calc(100% - 20px);
	            box-sizing: border-box;
	            &.readonly {
		            color: rgba(black, 0.6);
	            }
	        }
		
		    // Manage webhooks table
		    &.table-list {
		
		        th {
		            width: auto;
		            background: darken($admin-blue-color, 30%);
		            color: #fff;
		            font-weight: bold;
		            padding: 5px 10px;
		            
		            &.mplus-column {
			            text-align: center;
			            letter-spacing: 1px;
			            &.name {
				            text-align: left;
				            padding-left: 20px;
			            }
		            }
		        }
		
		        td {
		            padding: 12px 10px;
		
		            &.name {
		                font-weight: bold;
		                font-size: 1.1em;
		                line-height: 1.4em;
		                padding-left: 20px;
		            }
		
					&.function {
		                color: $admin-blue-color;
		            }
		
					&.time {
		                color: $admin-gold-color;
		                font-weight: 600;
		            }
		
					&.time b {
		                opacity: 0.5;
		                font-weight: 400;
		            }
		            
		            &.small {
			            font-size: 13px;
					}
		            &.left {
			            text-align: left !important;
			            padding-left: 20px;
					}
		            &.right {
			            text-align: right !important;
			            padding-right: 20px;
					}
		            &.center {
			            text-align: center !important;
					}
					
		            &.numeric {
			            font-size: 110%;
			            font-weight: 500;
			            text-align: center;
		            }            

		            &.actions {
			            font-size: 13px;
			            font-weight: 500;
			            text-align: center;
			            
			            a {
				            text-decoration: none;
				            color: $admin-red-color;
				            cursor: pointer;
				            &:hover {
					            text-decoration: underline;
				            }
				            &.icon-link {
								opacity: 0.7;
								transition: opacity .3s ease-in-out;
					            &:hover {
						            text-decoration: none !important;
									opacity: 1;
					            }
				            }
			            }
		            }            

		            &.colored, & span.colored {
			            font-weight: 600;
			            text-align: center;
			            color: $admin-gold-color;
			            &.red {
				            color: $admin-red-color;
			            }
			            &.green {
				            color: $admin-green-color;
			            }
			            &.blue {
				            color: $admin-blue-color;
			            }
			            &.magenta {
				            color: $admin-magenta-color;
			            }
			        }
		        }
		
		        .index {
		            width: 40px;
		            padding-left: 0;
		            padding-right: 0;
		            text-align: center;
		        }
		
		        .time {
		            width: 140px;
		            padding-left: 0;
		            padding-right: 0;
		            text-align: center;
		        }
		
		        .function {
		            width: 250px;
		            padding-left: 20px;
		            padding-right: 0;
		            text-align: left;
		            font-weight: 600;
		        }
		
		        .status {
		            width: 35px;
		            padding-left: 0;
		            padding-right: 0;
		        }

		        .margin {
		            width: 20px;
		            padding: 0;
		        }
		
		        .status-circle {
		            display: block;
		            background: $admin-blue-color;
		            width: 15px;
		            height: 15px;
		            -webkit-border-radius: 50%;
		            -moz-border-radius: 50%;
		            border-radius: 50%;
		            margin: 0 auto;
		
		            &.disabled {
		                background: $admin-red-color;
		            }
		            &.active, &.enabled {
		                background: $admin-green-color;
		            }
		
		        }
		
		        tr:nth-child(even) > td {
		            background: #eaf7fa;
		        }
		
		    }
		}

		#zuplus-status-mb {
			.inside {
				padding-top: 10px;
			}
			.form_desc { 
				background-color: white; padding: 0;
			}
			p {
				padding: 0 10px;
				span {
					color: $admin-magenta-color;
					font-weight: 600;
					letter-spacing: 0.5pt;
				}
			}
		}
		
		#zuplus-debug-mb {
			.hndle {
				background-color: $admin-gold-color;
				color: white;
				margin-bottom: 20px;
			}
			.toggle-indicator {
				color: white;
			}
		}
		
		#zuplus-duplicate-mb {
			.zu-input.new_menu {
				max-width: 200px;
			}
		}
    }
}

// Media Screens customizations -----------------------------------------------]

 #addFolder {
	.media-modal & { margin-top: 10px; margin-left: 10px;}
	.upload-php & { margin-left: 8px;}
}

// Remove advertisements ------------------------------------------------------]

#gfw-hosting-meta-box,
#gfw-news-meta-box,
.wpe-dify-posts,
#itsec-sidebar-widget-pro-upsell,
#itsec-sidebar-widget-mail-list-signup,
#itsec-sidebar-widget-form-backupbuddy-cross-promo,
#itsec-sidebar-widget-form-malware-scan,
#itsec-sidebar-widget-form-sync-cross-promo,
#itsec-sidebar-widget-form-support,
.itsec-module-pro-upsell,  
#toplevel_page_itsec ul li:nth-child(5),
a[title*="BBQ Pro"],
a[title*="BBQ Firewall"],
a[href*="bbq_settings"],
.image-watermark-settings .df-credits
{ display: none !important;}


