@import "vars";

$duplicate-menu-selector: '.zuplus_dup_menu';
$coreinfo-selector: '.zuplus_core_info';

// Settings Page --------------------------------------------------------------]

$help-markdown-code-opacity: 0.25;

$dup-padding: 10px;
$dup-item-padding: 8px;

$info-font-family: Roboto,Ubuntu,"Helvetica Neue",sans-serif;
$info-font-size: 13px;
$info-last-ver-color: darken($green-color, 20%);
$info-last-ver-bg-color: rgba($green-color, 0.2);
$info-active-ver-color: darken($blue-color, 20%);
$info-active-ver-bg-color: rgba($blue-color, 0.2);
$info-old-ver-color: darken($orange-color, 20%);
$info-old-ver-bg-color: rgba($orange-color, 0.3);

$info-border-color-opacity: 0.2;
$info-border-color-dark-opacity: 0.3;


%version {
	margin-left: 10px;
	padding: 1px 8px !important;
	background-color: transparent !important;
	color: $kint-theme-text !important;
	padding: 1px 8px !important;
	display: block !important;
	border: 1px solid rgba($kint-theme-text-light, $info-border-color-dark-opacity) !important;
}
%version-less {
	background-color: $info-old-ver-bg-color !important;
	color: $info-old-ver-color !important;
	border-color: rgba($info-old-ver-color, $info-border-color-opacity) !important;
}
%version-active {
	background-color: $info-active-ver-bg-color !important;
	color: $info-active-ver-color !important;
	border-color: rgba($info-active-ver-color, $info-border-color-opacity) !important;
}
%version-great {
	background-color: $info-last-ver-bg-color !important;
	color: $info-last-ver-color !important;
	border-color: rgba($info-last-ver-color, $info-border-color-opacity) !important;
}

.components-base-control__help {
	color: $kint-theme-text !important;
	font-style: normal !important;
	em {
		background-color: rgba($kint-theme-main, $help-markdown-code-opacity) !important;
		color: $kint-theme-text !important;
		font-style: normal !important;
	}
}

#{$duplicate-menu-selector} {
	min-width: 17em;

	.__title, .__menu, .__input {
		padding: $dup-padding;
	}
	.components-menu-group__label {
		margin: 0;
		padding: 0 $dup-item-padding 0 0;
		white-space: nowrap;
		text-align: left;
		width: 100%;
	}
	.__title {
		padding: div($dup-padding, 2) $dup-padding;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid $wp-gray-400;
		background-color: $wp-light-gray-500;
		.__close {
			padding-right: 0;
			margin-right: -5px;
		}
	}
	.__menu {
		border-bottom: 1px solid $wp-gray-200;
		.components-menu-item__button {
			transition: background-color 0.2s ease-in;
			border-bottom: 1px solid rgba($wp-gray-200, 0.5);
			&:last-child {
				border-bottom-color: transparent;
			}
			&:hover {
				background-color: $wp-blue-medium-100;
			}
		}
	}
	.__input {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		.components-base-control {
			margin: 0;
			width: 100%;
		}
		.components-menu-group__label {
			padding-bottom: $dup-item-padding;
		}
		.__submit {
			padding-right: 16px;
		}
	}
}

#{$coreinfo-selector} {
	.__info {
		font-family: $info-font-family;
		letter-spacing: 0.5px;
		font-size: $info-font-size;

		strong {
			min-width: 100px;
			font-weight: 500;
			display: inline-block;
			margin-right: 10px;
		}
		.__lastest {
			min-height: 22px;
		}
		.__ver {
			@extend %version;
			&.less { @extend %version-less; }
			&.active { @extend %version-active; }
			&.great { @extend %version-great; }
			display: inline-block !important;
			margin-left: 0;
		}
		.__path {
			font-weight: 400;
			color: darken($blue-color, 20%);
		}
		.components-spinner {
			background-color: rgba($kint-theme-text-light, 0.8);
			margin: 0;
			transform: scale(0.9);
			top: 5px;
		}
	}
	.zukit-table {
		font-family: $info-font-family;
		letter-spacing: 0.5px;
		font-size: $info-font-size;
		margin-left: 30px;

		.cell .components-spinner {
			background-color: rgba($kint-theme-text-light, 0.8);
			margin: 0; //0 auto;
		}

		.cell__origin {
			padding-right: 0;
			em {
				font-style: normal;
				font-size: 12px;
				letter-spacing: 1px;
				background-color: rgba($violet-color, 0.05) !important;
				color: $violet-color !important;
				padding: 2px 8px !important;
				display: block !important;
				border-radius: 10px !important;
				border: 1px solid rgba($violet-color, $info-border-color-dark-opacity) !important;
			}
		}
		.cell__lastest {
			color: rgba($kint-theme-text-light, 0.7);
		}
		.cell__version, .cell__lastest, .cell__framework {
			.__code { @extend %version; }
			&.less .__code { @extend %version-less; }
			&.active .__code { @extend %version-active; }
			&.great .__code { @extend %version-great; }
		}
	}
}
