@use 'sass:color';
@use 'vars';
// не обновлять!! _kintbase.scss потому что он модифицирован добавлением !important плюс некоторые другие изменения
// нужно только проконтролировать что верхний селектор в "kintbase" соответствует текущему
// сейчас этот селектор = $debug-bar-selector: '#qm-debug_bar_zu_plusdebugbarpanel'
@use 'kintbase';

$text-color-light: vars.$kint-theme-text-light;
$text-color-dark: vars.$kint-theme-text-dark;

$main-font-family: vars.$font-family;

$tab-inactive-color-hover: #fff7be;
$error-color: vars.$red-bright-color;

$footer-color: #4c3d1e;
$footer-bg-color: #fff7e6;

$var-color: vars.$kint-theme-var-color;
$var-bg-color: vars.$kint-theme-var-bg-color;
$var-bg-internal-color: vars.$kint-theme-var-bg-internal-color;
$var-font-family: vars.$font-family;

$context-color: color.adjust(vars.$kint-theme-secondary, $lightness: -20%);
$context-text-color: white;
$context-text-shadow: vars.$text-shadow-for-white;
$context-border-color: color.adjust($context-color, $lightness: -10%);

$trigger-bg-color: color.adjust(vars.$kint-theme-secondary, $lightness: -20%);
$trigger-color: vars.$kint-theme-main;
$trigger-hover-bg-color: color.adjust(vars.$kint-theme-main, $lightness: -10%);
$trigger-hover-color: $text-color-light;

$ip-color: color.adjust(vars.$violet-color, $lightness: -10%);
$func-color: color.adjust(vars.$orange-color, $lightness: -30%);
$class-color: color.adjust(vars.$red-color, $lightness: -30%);

// #qm-debug_bar_zu_plusdebugbarpanel
#{vars.$debug-bar-selector} {
	.kint-rich {
		padding: 10px 10px 5px !important;
		background: vars.$kint-theme-secondary !important;
		font-family: $main-font-family !important;
		margin-top: 0 !important;

		.kint-focused {
			box-shadow: 0 0 3px 2px #859900 inset !important;
			border-radius: 7px !important;
		}
		var {
			font-weight: 500 !important;
			letter-spacing: 1px !important;
			cursor: pointer;
		}
		dt {
			letter-spacing: 0.5px !important;
			#{vars.$query-monitor-selector} &.__context.__dbg {
				background-color: $context-color !important;
				color: $context-text-color !important;
				border-color: $context-border-color !important;
				&:hover {
					border-color: $context-border-color !important;
				}
			}
		}
		dfn {
			color: $var-color !important;
			background-color: $var-bg-color;
			padding: 0 5px !important;
			border-radius: 3px !important;
			letter-spacing: 1px !important;
			font-weight: 500 !important;
			font-family: $var-font-family !important;
			font-size: 12px !important;
		}
		nav + dfn,
		nav + var {
			margin-left: 5px !important;
		}
		dd {
			dfn {
				color: $text-color-light !important;
				background-color: $var-bg-internal-color;
			}
			pre {
				background-color: white !important;
			}
		}

		> dl > dt,
		ul.kint-tabs {
			box-shadow: none;
		}

		ul.kint-tabs li.kint-active-tab {
			padding-top: 7px !important;
			height: 34px !important;
		}

		ul.kint-tabs {
			li:hover {
				color: $tab-inactive-color-hover !important;
			}
		}

		.kint-search-trigger,
		.kint-popup-trigger,
		.kint-access-path-trigger {
			background-color: $trigger-bg-color !important;
			color: $trigger-color !important;
			line-height: 15px !important;
			font-size: 13px !important;
			font-weight: 500 !important;
			height: 17px !important;
			width: 18px !important;
			&:hover {
				background-color: $trigger-hover-bg-color !important;
				color: $trigger-hover-color !important;
			}
		}
		.kint-search-trigger {
			font-size: 19px !important;
			line-height: 17px !important;
		}

		dt.kint-parent > .kint-popup-trigger {
			line-height: 16px !important;
		}

		footer {
			.kint-popup-trigger {
				background-color: transparent !important;
				color: $trigger-hover-color !important;
				&:hover {
					background-color: $trigger-hover-bg-color !important;
				}
			}
			.kint-popup-trigger + nav {
				margin-top: -3px !important;
			}
			ol {
				margin-top: 10px !important;
				padding: 10px !important;
				background-color: $footer-bg-color !important;
				li {
					color: $footer-color !important;
					letter-spacing: 1px !important;
					margin-bottom: 5px !important;
				}
			}

			em {
				font-style: normal !important;
				&.__ip {
					color: $ip-color !important;
				}
				&.__func {
					font-weight: 600;
					letter-spacing: 0.5px !important;
					color: $func-color !important;
				}
				&.__class {
					font-weight: 600;
					letter-spacing: 0.8px !important;
					color: $class-color !important;
				}
			}
		}
	}
}
