@use "sass:color";
@use "vars";
@use "noads";

.zuplus_red { color: vars.$red-color;}
.zuplus_green { color: vars.$green-color;}
.zuplus_magenta { color: vars.$magenta-color;}
.zuplus_gold { color: vars.$orange-bright-color;}
.zuplus_blue { color: vars.$blue-color;}

._bold { font-weight: 600; letter-spacing: 0.5pt;}
._grand { font-weight: 600; font-size: 110%; letter-spacing: 1pt; text-transform: uppercase;}
._uppercase { text-transform: uppercase; font-size: 0.8em;}
._uppercase2 { font-weight: 500; text-transform: uppercase; letter-spacing: 0.5pt;}
._shift { margin-left: 1.5em;}

$context-text-color: white;
$context-text-shadow: vars.$text-shadow-for-white;

$context-color: color.adjust(vars.$blue-color, $lightness: -20%);
$context-border-color: color.adjust($context-color, $lightness: -10%);
$context-err-color: color.adjust(vars.$red-bright-color, $lightness: -20%);
$context-err-border-color: color.adjust($context-err-color, $lightness: -10%);
$context-warn-color: color.adjust(vars.$orange-color, $lightness: -20%);
$context-warn-border-color: color.adjust($context-warn-color, $lightness: -10%);
$context-hlt-color: color.adjust(vars.$green-color, $lightness: -10%);
$context-hlt-border-color: color.adjust($context-hlt-color, $lightness: -10%);
$context-if-color: color.adjust(vars.$violet-color, $lightness: -10%);
$context-if-border-color: color.adjust($context-if-color, $lightness: -10%);

$notice-color: #aad5ff;
$notice-dark-color: color.adjust($notice-color, $lightness: -20%);

#{vars.$zu-custom-logs-selector} dt, #{vars.$debug-bar-selector} div.kint-rich dt {
	&.__context {
		letter-spacing: 1px !important;
		background-color: $context-color !important;
		color: $context-text-color !important;
		border-color: $context-border-color !important;
		text-shadow: $context-text-shadow !important;
		padding-left: 8px !important;
		&:hover {
			border-color: $context-border-color !important;
		}
	}
	&.__err {
		background-color: $context-err-color !important;
		border-color: $context-err-border-color !important;
		&:hover {
			border-color: $context-err-border-color !important;
		}
	}
	&.__warn {
		background-color: $context-warn-color !important;
		border-color: $context-warn-border-color !important;
		&:hover {
			border-color: $context-warn-border-color !important;
		}
	}
	&.__hlt {
		background-color: $context-hlt-color !important;
		border-color: $context-hlt-border-color !important;
		&:hover {
			border-color: $context-hlt-border-color !important;
		}
	}
	&.__if {
		background-color: $context-if-color !important;
		border-color: $context-if-border-color !important;
		&:hover {
			border-color: $context-if-border-color !important;
		}
	}
}

#{vars.$zu-custom-logs-selector} {
	.qm-boxed {
		padding: 10px 15px !important;
		.qm-notice {
			letter-spacing: 0.5px;
			padding: 10px 15px !important;
			margin: 0 !important;
			em {
				color: $notice-dark-color !important;
				font-weight: 600 !important;
				font-style: normal !important;
			}
		}
	}
	dt.__context {
		padding: 5px 5px 5px 10px !important;
	}
	.__var {
		margin: 5px !important;
		color: vars.$kint-theme-var-color !important;
		background-color: vars.$kint-theme-var-bg-color !important;
		padding: 0 5px !important;
		border-radius: 3px !important;
		letter-spacing: 1px !important;
		font-weight: 500 !important;
		font-size: 12px !important;
	}
	.__value {
		letter-spacing: 0.5px !important;
		color: vars.$kint-theme-text-dark !important;
		font-weight: 600 !important;
		pre {
			background-color: vars.$kint-theme-main !important;
			color: vars.$kint-theme-text-dark !important;
			max-width: 70em !important;
			overflow: hidden !important;
			text-overflow: ellipsis !important;
			em {
				font-style: normal !important;
				padding: 1px !important;
				border-radius: 3px !important;
				background-color: vars.$kint-theme-var-bg-internal-color !important;
				letter-spacing: 0.5px;
				color: #222 !important;
			}
		}
	}
	.__time, .__file {
		color: vars.$kint-theme-text-light !important;
		max-width: 40em !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
	}
	.__time, .__ip {
		text-align: center !important;
	}
}
